$componentName: 'uploader';
$componentTab: 'tab';
// divisions
$componentWrapperClass: #{$componentName}+ "-wrapper";
$componentTabsClass: #{$componentName} + "-tabs";
$componentDragClass: #{$componentName} + "-drag";

$componentClassExternal : #{$componentName} + "-external";
$componentSubmitActions : #{$componentName} + "-actions";
$componentSubmitClass: #{$componentName} + "-submit";
$componentSubmitClassExternal: #{$componentName} + "-submit-external";

$componentPreviewClass: #{$componentName} + "-preview";
$componentPreviewTextClass: #{$componentName} + "-preview-text";

// items
$componentItem: #{$componentName} + '-item';
$componentItemImage: #{$componentName} + '-item-image';
$componentItemError: #{$componentName} + '-item-error';

//colors
$componentMainColor: #323f65 !default;
$componentSecondaryColor: #1d1d2a !default;
$componentHighlightColor: #15033a !default;
$componentErrorColor: #b41717 !default;

$componentMinHeight: 140px;
$componentMinWidth: 220px;
$componentBarHeight: .4rem;