$componentName: 'uploader';
$componentTab: 'tab';
// divisions
$componentWrapperClass: #{$componentName}+ "-wrapper";
$componentTabsClass: #{$componentName} + "-tabs";
$componentDragClass: #{$componentName} + "-drag";

$componentClassExternal : #{$componentName} + "-external";
$componentSubmitActions : #{$componentName} + "-actions";
$componentSubmitClass: #{$componentName} + "-submit";
$componentSubmitClassExternal: #{$componentName} + "-submit-external";

$componentPreviewClass: #{$componentName} + "-preview";
// items
$componentItem: #{$componentName} + '-item';
$componentItemImage: #{$componentName} + '-item-image';
//colors
$componentMainColor: #202a44 !default;
$componentSecondaryColor: #1d1d2a !default;
$componentHighlightColor: #283c70 !default;
$componentErrorColor: #b41717 !default;
//font
$componentFontFamily: "Calibri Light", serif !default;
$componentMinHeight: 220px;
$componentMinWidth: 220px;
$componentBarHeight: .4rem;