@use "sass:color";
@use "./../options" as properties;

#{'.' +  #{properties.$componentWrapperClass}}{
  --main-color: #{properties.$componentMainColor};
  --main-color-high: #{color.adjust(properties.$componentMainColor, $lightness: -7%)};
  --main-color-low: #{color.adjust(properties.$componentMainColor, $lightness: 7%)};
  --second-color: #{properties.$componentSecondaryColor};
  --high-color: #{properties.$componentHighlightColor};
  --text-color: white;
  --text-error: #{properties.$componentErrorColor};

  box-shadow: 0 0 1px 1px var(--main-color-high);
  font-family: "Calibri Light", sans-serif;
  text-align: center;
  background-color: var(--main-color);
  min-width: #{properties.$componentMinWidth};
  min-height: #{properties.$componentMinHeight};
  border-radius: 8px;
  margin: auto;
  overflow: hidden;
  input[type="file"]{
    height: 0;
    width: 0;
  }
}
// uploader -tabs
#{'.' +  #{properties.$componentTabsClass}}{
  border-bottom: .12rem solid var(--main-color-high);
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  transition: all 150ms;
  width: 100%;
  height: auto;
  color: var(--text-color);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  #{'.' +  #{properties.$componentTab}}{
    display: flex;
    flex: 1 1;
    cursor: pointer;
    background-color: var(--main-color);
    justify-content: center;
    border: none;
    margin: 0;
  }
}

// main class
#{'.' +  #{properties.$componentSubmitActions}}{
  border-top: .15rem solid var(--main-color-high);
  display: flex;
  padding: 0 0.2rem;
  & :not(.#{properties.$componentSubmitClassExternal}){
    width: auto;
  }
  // pick files
  #{'.' +  #{properties.$componentSubmitClass}}{
    width: 100%;
    font-size: inherit;
    border-radius: .3rem;
  }
  // external
  #{'.' +  #{properties.$componentSubmitClassExternal}}{
    width: 15%;
    svg {
      line-height: 1.6rem;
      max-height: 1.6rem;
      margin: auto !important;
    }
  }
}

// submit class
#{'.' +  #{properties.$componentSubmitClass}}, #{'.' +  #{properties.$componentSubmitClassExternal}}{
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
  margin: .2rem 0;
  display: flex;
  justify-content: center;
  place-items: center;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  user-select: none;
  svg{
    line-height: 2rem;
    max-height: 2rem;
    vertical-align: middle;
    fill: var(--text-color);
    transition: opacity, 0.3s, ease-in-out;
    margin-right: .8rem;
  }
  &:active, &:focus-within, &:hover{
    background-color: var(--main-color-high);
  }
}

#{'.' +  #{properties.$componentSubmitActions}}:has(#{'.' +  #{properties.$componentSubmitClass}}):has(#{'.' +  #{properties.$componentSubmitClassExternal}}) {
  #{'.' +  #{properties.$componentSubmitClass}}, #{'.' +  #{properties.$componentSubmitClassExternal}} {
    &:first-of-type{
      border-radius: .3rem 0 0 .3rem !important;
    }
    &:last-of-type{
      border-radius: 0 .3rem .3rem 0 !important;
    }
  }
}

#{'.' +  #{properties.$componentTab}}{
  transition: 0.3s box-shadow ease;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  padding: .6rem 1rem;
  color: var(--text-color);
  user-select: none;
  &:hover, &.show {
    background-color: var(--main-color-high);
  }
}

.actions{
  display: none;
  font-size: .95rem;
  button{
    border:none;
    height: 100%;
    background: none;
    color: var(--text-color);
    padding: 0.3rem 0.7rem;
    font-family: inherit;
    &:active, &:hover{
      cursor: pointer;
      background: var(--main-color-high) !important;
    }
  }

}

// error class
#{'.' +  #{properties.$componentItemError}}{
  .progress {
    .bar {
      background: var(--text-error) !important;
    }
  }
}

