@use "./../options" as properties;

// animate 1 uploaded item
@keyframes item {
  0%{
    transition: all ease-out;
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

#{'.' +  #{properties.$componentItem}}{
  animation: item .7s;
}