// preview
#{'.' +  #{$componentPreviewClass}}{
  box-sizing: border-box;
  background-color: var(--second-color);
  width: auto;
  min-height: 8rem;
  padding: 0.38rem 0.7rem;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  color: var(--text-color);
}
// preview item
#{'.' +  #{$componentItem}}{
  min-height: 2rem;
  position: relative;
  display: block;
  background:  var(--main-color);
  border-radius: .3rem .3rem .2rem .2rem;
  outline: .1rem solid var(--main-color-high);
  overflow: hidden;
  transform: rotate(0);
  &:not(:last-child) {
    margin-bottom: .4rem;
  }
}

// preview item
#{'.' +  #{$componentItem}}{
  .progress {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    z-index: 3;
    height: #{$componentBarHeight};
    bottom: 0;
    margin-top: auto;
    border-top: 1px solid var(--text-color);
    background-color: var(--main-color);
    .bar {
      position: absolute;
      height: #{$componentBarHeight};
      width: 30%;
      transition: .4s width ease-out;
      background: var(--high-color);
    }
  }
  .info {
    width: 100%;
    height: 100%;
    display: flex;
    .text{
      display: flex;
      flex: 1;
      align-items: center;
      padding: .4rem 0 .4rem 1rem;
      flex-direction: column;
      max-width: 70%;
      span {
        display: block;
        text-align: left;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .percentage{
      width: 30%;
      display: flex;
      border-left: 2px solid var(--text-color);
      justify-content: center;
      align-items: center;
    }
  }
  &:not(#{'.' +  #{$componentItemImage}}) .text{
    padding-bottom: .8rem !important;
  }
}

// image preview
#{'.' +  #{$componentItemImage}}{
  &:hover .actions{
    display: block !important;
  }
  .actions {
    display: none;
    position: absolute;
    z-index: 3;
    bottom: 10%;
    right: 2%;
    transition: all;
    transition-delay: 200ms;
    button {
      opacity: .85;
      padding: #{$componentBarHeight} #{$componentBarHeight};
      margin-left: #{$componentBarHeight};
      border-radius: 50%;
      width: 2.6rem !important;
      height: 2.6rem !important;
      background: var(--main-color);
      outline: 1px solid var(--text-color);
      &:hover, &:focus, &:focus-within, &:focus-visible {
        opacity: 1;
      }
    }
  }
  .preview{
    width: 100%;
    height: 100%;
    display: block;
    min-height: 7rem;
    max-height: 7rem;
    background-color: var(--second-color);
    position: relative;
    canvas, .wrapper {
      position: absolute;
      z-index: 1;
      inset: 0;
    }
    .wrapper {
      z-index: 2;
      opacity: .45;
      background-color: var(--high-color);
    }
  }
  .info{
    border-bottom: 2px solid var(--text-color);
  }
}